body {
    height: 200vh;
    width: 200vh;
     
}



#wrapper {
    height: 75%;
    width: 90%;
    margin: auto;
    background-color: brown;
    background-size: cover;
    display: grid;
    grid-template-areas: "hd nv"
                        "s1 s1"
                        "fo fo";
    grid-template-columns: 35% 65%;
    grid-template-rows:21% 42.5% 42.5%;
    
}

header{
    background-color: green;
    grid-area: hd;
    
}

nav {
    background-color: whitesmoke;
    grid-area: nv;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3rem;
}

nav a {
    text-decoration-line: none;
color: black;
}

#s1 {
    grid-area: s1;
    background-color:whitesmoke;
}

#main_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 5rem;
}



footer {
    grid-area: fo;
    
    font-size: 1.5rem;
    display: grid ;
    grid-template-areas: "k r v";
    background-color: white;

}

#kontakt {
    grid-area: k;
    border-style: solid;
}

#reko {
    grid-area: r;
    border-style: solid;

}

#vem {
    grid-area: v;
    border-style: solid;
    
}


